/*CSS Stylesheet*/
body{
  background: #000000;
  color: #999999;
  font-family: "Input Mono Narrow Regular", "Input Mono Narrow Regular", monospace;
  font-size: 12px;
  overflow-x: none;
  position: relative;
  margin: 0px;
  padding: 0px;
  height: 100%;
  width: 100%;
}
a {
  text-decoration: none;
}
img {
  vertical-align: middle;
}


.header-content {
width: 30%;
max-width: 250px;
padding: 0% 0 0% 5%;
float: left;
height: inherit;
margin-right: 2%;
border-right: 1px solid #000000;
background: #000000;
position: fixed;
overflow: auto;
padding: 4% 5% 0 3%;
left: 0;
top: 0;
}

/*Mobile viewport max 479px*/
@media (max-width: 479px) {
  h1 {
    font-size: 1.5em;
  }
  h2{
    font-size: 1.4em;
    color: #000000;
  }
  h3{
    font-size: 1.4em;
    color: #000000;
  }
  p{
    font-size: 0.9em;
  }
/*Home*/
/*Header*/
  /*Menu, social and bio
.container-home{
  display: grid;
  grid-template-columns: auto;
  padding: 0.5em;
  padding-top: 1em;
  align-items: center;
  background-size: cover;
  background-image: linear-gradient(to bottom, rgba(255, 255, 255, 0.0), rgba(255, 255, 255, 0.0), rgba(255, 255, 255, 0.0), rgba(255, 255, 255, 0.0), rgba(255, 255, 255, 0.5)), url('assets/image-08.jpg');
  background-image: -moz-linear-gradient(to bottom, rgba(255, 255, 255, 0.0), rgba(255, 255, 255, 0.0), rgba(255, 255, 255, 0.0), rgba(255, 255, 255, 0.0), rgba(255, 255, 255, 0.5)), url('assets/image-08.jpg');
  background-image: -o-linear-gradient(to bottom, rgba(255, 255, 255, 0.0), rgba(255, 255, 255, 0.0), rgba(255, 255, 255, 0.0), rgba(255, 255, 255, 0.0), rgba(255, 255, 255, 0.5)), url('assets/image-08.jpg');
  background-image: -webkit-linear-gradient(to bottom, rgba(255, 255, 255, 0.0), rgba(255, 255, 255, 0.0), rgba(255, 255, 255, 0.0), rgba(255, 255, 255, 0.0), rgba(255, 255, 255, 0.5)), url('assets/image-08.jpg');
}

.container-topbar{
  display: grid;
  grid-template-columns: auto;
  grid-template-rows: 2em;
  padding: 0.5em;
  padding-top: 1em;
  align-items: center;
  background-color: transparent;
}

.main-visual {
  display: grid;
  grid-template-columns: 7fr 3fr 3fr;
}

.dropdown-icon{
  display: hidden;
  font-size: 1.7em;
  cursor:pointer
  position: -webkit-sticky;
  position: sticky;
  top: 0em;
  padding-left: 0.5em;
}

.dropdown-menu {
  height: 100%;
  width: 0;
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  background-color: rgba(238,238,238, 0.5);
  overflow-x: hidden;
  transition: 0.5s;
}

.main-menu{
  padding-top: 2em;
  padding-left: 1.5em;
}

.main-menu-items {
  display: block;
  position: relative;
  top: 25%;
  width: 50%;
  text-align: left;
  text-transform: uppercase;
  font-size: 1em;
  color: #000000;
  text-decoration: none;
  padding: 1em;
  transition: 0.3s;
}

.dropdown-menu a:hover, .dropdown-menu a:focus {
  text-decoration: underline;
  color: #8e8e8e;
}

.dropdown-menu .close-button {
  position: absolute;
  padding-top: 1em;
  right: 1em;
  font-size: 2em;
  text-decoration: none;
  color: #000000;
}

.social-media{
  position: -webkit-sticky;
  position: sticky;
  top: 1em;
}

.social-media-icons{
  width: 1.5em;
  display: inline;
  text-align: right;
}

.desktop-menu {

}

.desktop-menu-items {
}

.carousel {
   max-height: 40em;
}

.carousel-inner {
    max-height: 10em;
}
*/
/*Portfolio*/
.home-portfolio {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  padding: 0.5em;
  background-color: #ffffff;
  text-align: center;
}

.home-portfolio-grid{
}

.image-size{
  width: 90%;
  height: 90%;
  object-fit: cover;
  padding: 0.5em;

}

/*Video*/
.slider {
  padding-top: 0.5em;
  padding-bottom: 0.5em;
  text-align: center;
}

 .home-video {
 }

/*Footer*/
.before-footer{
  padding: 1em;
}

.footer {
  display: grid;
  grid-template-columns: 2fr 1fr;
  padding: 0.5em;
  background-color: #eeeeee
}

.footer-menu-items {
  display: inline;
  color: #202020;
  font-size: 0.8em;
  text-align: left;
}

.footer-menu-items:hover {
  text-decoration: underline;
  color: #8e8e8e;
}

.footer-social-media{
  width: 100%;
  display: inline;
  text-align: right;
}

.footer-social-media-icons{
  width: 1.2em;
}

.rights{
  color: #202020;
  font-size: 0.8em;
  text-align: right;
}

.copyright{
  color: #202020;
  font-size: 0.8em;
  text-align: right;
}

/*Contact*/
.contact-form {
  display: grid;
  grid-template-columns: auto;
  max-width: 28em;
  margin-left: auto;
  margin-right: auto;
}

.name-sidebyside {
  display: grid;
  grid-template-columns: 1fr 1fr;
  padding-left: 1em;
  align-items: center;
}

.form-name {
  color: #000000;
  font-size: 0.8em;
  font-family: sans-serif;
  padding: 0.8em;
}

.name-fields{
  padding: 0.5em;
  width: 80%;
}

.other-fields{
  padding: 0.5em;
  width: 90%;
}

.other-fields-message{
  padding: 0.5em;
  width: 90%;
  height: 12em;
  background-color: transparent;
  color: #000000;
  border-color: #d3d3d3;
  border-style: solid;
  resize: none;
}

.rest-form {
  display: grid;
  grid-template-columns: 1fr;
  align-items: center;
  padding-left: 1em;
}

.submit-button-position{
  padding: 1em;
  width: 100%;
}

.submit-button {
  height: 2em;
  width: 5em;
  background-color: transparent;
  color: #000000;
  border-color: #d3d3d3;
  border-radius: 10%;
  border-style: solid;
}


/*Photography*/
/*Slideshow
.mySlides {
  display: none
}

.slider-image {
  width: 100%;
}

/* Slideshow container
.slideshow-container {
  max-width: 100%;
  position: relative;
  margin: 0em;
}

/* Next & previous buttons
.prev, .next {
  cursor: pointer;
  position: absolute;
  top: 50%;
  width: auto;
  padding: 1em;
  margin-top: -2em;
  color: white;
  font-weight: bold;
  font-size: 1.2em;
  transition: 0.5s ease;
  user-select: none;
}

.prev {
    border-radius: 0em 0.8em 0.8em 0em;
}

.next {
  right: 0;
  border-radius: 0.8em 0em 0em 0.8em;
}

.prev:hover, .next:hover {
  background-color: rgba(0,0,0,0.5);
}

/* The dots/bullets/indicators
.dot {
  cursor: pointer;
  height: 0.5em;
  width: 0.5em;
  margin: 0.1em;
  background-color: #bbb;
  border-radius: 50%;
  display: inline-block;
  transition: background-color 0.6s ease;
}

.active, .dot:hover {
  background-color: #717171;
}

/* Fading animation
.fade {
  -webkit-animation-name: fade;
  -webkit-animation-duration: 0.8s;
  animation-name: fade;
  animation-duration: 0.8s;
}
@-webkit-keyframes fade {
  from {opacity: 0.7}
  to {opacity: 1}
}
@keyframes fade {
  from {opacity: 0.7}
  to {opacity: 1}
}

/*Photography showcase*/
.portfolio-categories {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    padding-bottom: 0.5em;
    background-color: #ffffff;
    text-align: center;
  }

.categories{
  width: 90%;
  height: 10em;
  object-fit: cover;
  padding: 0.5em;
}

.categories-names{
  text-align: left;
  padding-left: 1em;
}


/*Photography portfolio*/
.grid-portfolios{
  width: 90%;
  height: 10em;
  object-fit: cover;
  padding: 0.2em;
}

/*Videography page*/
.main-video {
  padding-top: 0.5em;
  text-align: center;
}

.main-block {
  display: grid;
  grid-template-columns: 1fr;
  align-items: center;
}

.videography {
  display: grid;
  grid-template-columns: 1fr;
  align-items: center;
  background-size: cover;
  background-image: url('assets/image-08.jpg');
}

.videography-grid:nth-child(1) {
   order: 2;
}
.videography-grid:nth-child(2) {
   order: 1;
}

.videography-grid-item{
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.video-titles{
  padding-left: 1.5em;
}

.video-reel {
  display: grid;
  grid-template-columns: 1fr;
  padding-bottom: 0.5em;
  background-color: #ffffff;
  text-align: center;
}

.video-reel-grid{
}

.video-reel-item{
  width: 90%;
  height: 100%;
  object-fit: cover;
  padding: 0.5em;
}

}





/*Desktop viewport 480px*/

@media (min-width: 480px) {
h1 {
  font-size: 2.5em;
  padding-left: 1em;
}
h2{
  font-size: 1.7em;
  color: #000000;
}
h3{
  font-size: 1.7em;
  color: #000000;
}
p{
  font-size: 1.5em;
  padding-left: 1.8em;
}
/*Home/
/*Header*/
  /*Menu, social and bio
.container-home{
  display: grid;
  grid-template-columns: auto;
  padding: 0.5em;
  padding-top: 1em;
  align-items: center;
  background-size: cover;
  background-image: linear-gradient(to bottom, rgba(255, 255, 255, 0.0), rgba(255, 255, 255, 0.0), rgba(255, 255, 255, 0.0), rgba(255, 255, 255, 0.0), rgba(255, 255, 255, 0.5)), url('assets/welcome-image.jpg');
  background-image: -moz-linear-gradient(to bottom, rgba(255, 255, 255, 0.0), rgba(255, 255, 255, 0.0), rgba(255, 255, 255, 0.0), rgba(255, 255, 255, 0.0), rgba(255, 255, 255, 0.5)), url('assets/welcome-image.jpg');
  background-image: -o-linear-gradient(to bottom, rgba(255, 255, 255, 0.0), rgba(255, 255, 255, 0.0), rgba(255, 255, 255, 0.0), rgba(255, 255, 255, 0.0), rgba(255, 255, 255, 0.5)), url('assets/welcome-image.jpg');
  background-image: -webkit-linear-gradient(to bottom, rgba(255, 255, 255, 0.0), rgba(255, 255, 255, 0.0), rgba(255, 255, 255, 0.0), rgba(255, 255, 255, 0.0), rgba(255, 255, 255, 0.5)), url('assets/welcome-image.jpg');
}

.container-topbar{
  display: grid;
  grid-template-columns: auto;
  grid-template-rows: 4em;
  padding: 0.5em;
  padding-top: 1em;
  align-items: center;
  background-color: transparent;
}

.main-visual {
  display: grid;
  grid-template-columns: 4fr 1fr 1fr;
  grid-template-rows: 1fr 1fr 1fr 1fr 1fr 1fr;
  width: 100%;
}


.dropdown-icon{
display:none;
}

.dropdown-menu {
  height: 100%;
  width: 0;
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  background-color: rgba(238,238,238, 0.5);
  overflow-x: hidden;
  transition: 0.5s;
}

.main-menu{
  padding-top: 2em;
  padding-left: 1.5em;
}

.main-menu-items {
  display: block;
  position: relative;
  top: 25%;
  width: 50%;
  text-align: left;
  text-transform: uppercase;
  font-size: 1em;
  color: #000000;
  text-decoration: none;
  padding: 1em;
  transition: 0.3s;
}

.dropdown-menu a:hover, .dropdown-menu a:focus {
  text-decoration: underline;
  color: #8e8e8e;
}

.dropdown-menu .close-button {
  position: absolute;
  padding-top: 1em;
  right: 1em;
  font-size: 2em;
  text-decoration: none;
  color: #000000;
}

.social-media{
  padding-top: 1em;
  padding-right: 4em;
  text-align: right;
  position: -webkit-sticky;
  position: sticky;
  top: 1em;
}

.social-media-icons{
  width: 1.5em;
  display: inline;
  text-align: right;
}

.blank-space {
  height: 7em;
}

.desktop-menu {
  text-align: left;
}

.desktop-home-menu-items {
  position: relative;
  top: 50%;
  width: 50%;
  text-align: left;
  text-transform: uppercase;
  font-size: 1em;
  color: #000000;
  text-decoration: none;
  padding: 1em;
  transition: 0.3s;
}

.desktop-menu-items {
  position: relative;
  top: 280%;
  width: 50%;
  text-align: left;
  text-transform: uppercase;
  font-size: 1em;
  color: #000000;
  text-decoration: none;
  padding: 1em;
  transition: 0.3s;
}

.desktop-menu-items:hover {
text-decoration: underline;
color: #8e8e8e;
}


/*Portfolio*/
.home-portfolio {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  padding: 1em;
  padding-top: 2.5em;
  background-color: #ffffff;
  text-align: center;
}

.home-portfolio-grid{
}

.image-size{
  width: 95%;
  height: 95%;
  object-fit: cover;
  padding: 0.5em;
}

/*Video*/
.slider {
  padding-top: 0.5em;
  padding-bottom: 0.5em;
  text-align: center;
}

 .home-video {
 }

/*Footer*/
.before-footer{
  padding: 2em;
}

.footer {
  display: grid;
  grid-template-columns: 1fr 1fr;
  padding: 0.5em;
  background-color: #eeeeee;
}

.footer-menu{
  padding-left: 1em;
  padding-top: 1em;
  padding-bottom: 1em;
}

.footer-menu-items {
  display: inline-block;
  color: #202020;
  font-size: 0.8em;
  text-align: left;
  padding: 1em;
  padding-left: 2em;
}

.footer-menu-items:hover {
  text-decoration: underline;
  color: #8e8e8e;
}

.footer-social-media{
  width: 100%;
  display: inline;
  text-align: right;
  padding: 1em;
  padding-right: 2em;
}

.footer-social-media-icons{
  width: 1.5em;
  padding-right: 2em;
}

.copyright{
  color: #202020;
  font-size: 0.8em;
  text-align: right;
  vertical-align: bottom;
}

/*Contact*/
.contact-form {
  display: grid;
  grid-template-columns: auto;
  max-width: 40em;
  margin-left: auto;
  margin-right: auto;
}

.name-sidebyside {
  display: grid;
  grid-template-columns: 1fr 1fr;
  padding-left: 1em;
  align-items: center;
}

.form-name {
  color: #000000;
  font-size: 0.8em;
  font-family: sans-serif;
  padding: 0.8em;
}

.name-fields{
  padding: 0.5em;
  width: 80%;
}

.other-fields{
  padding: 0.5em;
  width: 90%;
}

.other-fields-message{
  padding: 0.5em;
  width: 90%;
  height: 15em;
  background-color: transparent;
  color: #000000;
  border-color: #d3d3d3;
  border-style: solid;
  resize: none;
}

.rest-form {
  display: grid;
  grid-template-columns: 1fr;
  align-items: center;
  padding-left: 1em;
}

.submit-button-position{
  padding: 1em;
  width: 100%;
}

.submit-button {
  height: 2em;
  width: 5em;
  background-color: transparent;
  color: #000000;
  border-color: #d3d3d3;
  border-radius: 10%;
  border-style: solid;
}

/*Photography*/
/*Slideshow
.mySlides {
  display: none;
  text-align: center;
}

.slider-image {
  height: 50em;
}

/* Slideshow container
.slideshow-container {
  max-width: 100%;
  position: relative;
  margin: 0em;
}

/* Next & previous buttons
.prev, .next {
  cursor: pointer;
  position: absolute;
  top: 50%;
  width: auto;
  padding: 1em;
  margin-top: -2em;
  margin-left: 10%;
  margin-right: 10%;
  color: #000000;
  font-weight: bold;
  font-size: 1.2em;
  transition: 0.5s ease;
  user-select: none;
}

.prev {
  border-radius: 0.8em 0em 0em 0.8em;
  left: 0;
}

.next {
  right: 0;
  border-radius: 0em 0.8em 0.8em 0em;
}

.prev:hover, .next:hover {
  background-color: rgba(0,0,0,0.2);
}

/* The dots/bullets/indicators
.dot {
  cursor: pointer;
  height: 0.5em;
  width: 0.5em;
  margin: 0.1em;
  background-color: #bbb;
  border-radius: 50%;
  display: inline-block;
  transition: background-color 0.6s ease;
}

.active, .dot:hover {
  background-color: #717171;
}

/* Fading animation
.fade {
  -webkit-animation-name: fade;
  -webkit-animation-duration: 0.8s;
  animation-name: fade;
  animation-duration: 0.8s;
}
@-webkit-keyframes fade {
  from {opacity: 0.7}
  to {opacity: 1}
}
@keyframes fade {
  from {opacity: 0.7}
  to {opacity: 1}
}

/*Photography showcase*/
.portfolio-categories {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    padding-bottom: 0.5em;
    background-color: #ffffff;
    text-align: center;
}

.categories{
  width: 95%;
  height: 40em;
  object-fit: cover;
  padding: 0.5em;
}

.categories-names{
  text-align: left;
  padding-left: 1em;
}

/*Photography portfolio*/
.grid-portfolios{
  width: 95%;
  height: 40em;
  object-fit: cover;
  padding: 0.5em;
}

/*Videography page*/
.main-video {
  padding-top: 0.5em;
  text-align: center;
}

.main-block {
  display: grid;
  grid-template-columns: 1fr;
  align-items: center;
}

.videography {
  display: grid;
  grid-template-columns: 1fr 1fr;
  align-items: center;
  background-size: cover;
  background-image: url('assets/image-08.jpg');
}

.videography-grid {
}

.videography-grid-item{
  width: 95%;
  height: 100%;
  object-fit: cover;
}

.video-titles{
  padding-left: 1.5em;
}

.video-reel {
  display: grid;
  grid-template-columns: 1fr 1fr;
  padding-bottom: 0.5em;
  background-color: #ffffff;
  text-align: center;
}

.video-reel-grid{
}

.video-reel-item{
  width: 90%;
  height: 100%;
  object-fit: cover;
  padding: 0.5em;
}


}















/*Instagram like grid

HTML CSS

Result

EDIT ON

<ul class="gallery">
<li><img width="768" height="576" src="https://www.bram.us/wordpress/wp-content/uploads/2020/01/IMG_8990-768x576.jpg" alt="" title="" loading="lazy" /></li>
<li><img width="768" height="576" src="https://www.bram.us/wordpress/wp-content/uploads/2020/01/IMG_1118-768x576.jpg" alt="" title="" loading="lazy" /></li>
<li><img width="768" height="576" src="https://www.bram.us/wordpress/wp-content/uploads/2020/01/IMG_1125-768x576.jpg" alt="" title="" loading="lazy" /></li>
<li><img width="768" height="576" src="https://www.bram.us/wordpress/wp-content/uploads/2020/01/IMG_1131-768x576.jpg" alt="" title="" loading="lazy" /></li>
<li><img width="768" height="576" src="https://www.bram.us/wordpress/wp-content/uploads/2020/01/IMG_1134-768x576.jpg" alt="" title="" loading="lazy" /></li>
<li><img width="768" height="432" src="https://www.bram.us/wordpress/wp-content/uploads/2020/01/IMG_1139-768x432.jpg" alt="" title="" loading="lazy" /></li>
<li class="wide"><img width="768" height="576" src="https://www.bram.us/wordpress/wp-content/uploads/2020/01/IMG_1140-768x576.jpg" alt="" title="" loading="lazy" /></li>
<li><img width="768" height="432" src="https://www.bram.us/wordpress/wp-content/uploads/2020/01/IMG_1143-768x432.jpg" alt="" title="" loading="lazy" /></li>
<li><img width="768" height="576" src="https://www.bram.us/wordpress/wp-content/uploads/2020/01/IMG_1175-768x576.jpg" alt="" title="" loading="lazy" /></li>
<li><img width="768" height="576" src="https://www.bram.us/wordpress/wp-content/uploads/2020/01/IMG_1145-768x576.jpg" alt="" title="" loading="lazy" /></li>
<li><img width="768" height="432" src="https://www.bram.us/wordpress/wp-content/uploads/2020/01/IMG_1157-768x432.jpg" alt="" title="" loading="lazy" /></li>
<li><img width="768" height="1024" src="https://www.bram.us/wordpress/wp-content/uploads/2020/01/IMG_1169-768x1024.jpg" alt="" title="" loading="lazy" /></li>
<li><img width="768" height="576" src="https://www.bram.us/wordpress/wp-content/uploads/2020/01/IMG_1317.jpeg" alt="" title="" loading="lazy" /></li>
</ul>


* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

ul.gallery {
    --size: 25vw;
    --gap: 0.25em;
    display: grid;
    grid-template-columns: repeat( auto-fit, minmax(calc(var(--size) - var(--gap) * 2), 1fr) );
    grid-template-rows: auto;
    gap: var(--gap);
    align-items: stretch;

    list-style: none;
}

ul.gallery > li {
    display: block;
    height: calc(var(--size) - var(--gap) * 2);
}

ul.gallery > li img {
    display: block;
    width: 100%;
    height: 100%;
    object-fit: cover;
}

*/
