/*CSS Stylesheet*/
:root {
  --black: #000000;
  --grey: #999999;
  --white: #fffff;
}

body {
  background: var(--black);
  color: var(--grey);
  font-family: "Input Mono Narrow Regular", "Input Mono Narrow Regular", monospace;
  font-size: 16px;
  overflow-x: none;
  position: sticky;
  margin: 0px;
  padding: 0px;
  height: 100%;
  width: 100%;
}

a {
  text-decoration: none;
  color: var(--grey);
  font-size: 1em;
}

a:hover {
  text-decoration: none;
  color: var(--white);
  fill: var(--white);
}

h1 {
  font-family: input mono narrow regular,input mono narrow regular,monospace;
  font-weight: 400;
}

p {
  color: var(--grey);
}

ul {
  list-style-type: none;
  display: inline;
  padding-inline-start: 0px;
  margin-block-start: 0px;
  margin-block-end: 0px;
  margin-inline-start: 0px;
  margin-inline-end: 0px;
}

li {
  display: inline;
}

img {
  vertical-align: middle;
}

.website-warp {
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
}

/*Navbar*/

.navbar {
  display: none;
}

@media only screen and (max-width: 889px) {
.navbar {
  display: grid;
  grid-template-columns: [col] 1fr [col] 1fr [col] 1fr;
  grid-template-rows: [row] auto;
  position: relative;
}

.navbar-logo {
  grid-column: col 1 / span 2;
}

.navbar-menu > a {
  display: block;

}

.logo {
  color: var(--white);
  font-size: 1.7em;
  text-shadow: 0 0 15px var(--white);
  padding: 0.5em 0 0 1em;
}

.professional {
  color: var(--grey);
  text-shadow: none;
}

.menu-icon {
  width: 1.8em;
  height: 1.8em;
  fill: var(--grey);
  padding-right: 3em;
  padding-top: 2.5em;
}

.menu-icon:hover {
  fill: var(--white);
}

.collapsible {
  grid-column: col 3 / span 1;
  cursor: pointer;
  width: 100%;
  text-align: right;
}

/*.active, .collapsible:hover {}
.collapsible:after {}
.active:after {} */

.nabvar-collapsible {
  grid-column: col 1 / span 3;
  display: grid;
  grid-template-columns: [col] 1fr [col] 1fr [col] 1fr;
  grid-template-rows: [row] auto;
  position: relative;
  max-height: 0;
  overflow: hidden;
  transition: max-height 0.5s ease-out;
}

.navbar-menu {
  grid-column: col 1 / span 2;
}

.menu-items {
  display: block;
  position: relative;
  overflow: hidden;
  padding-top: 0.7em;
  padding-bottom: 1em;
  margin-left: 2em;
  margin-right: 2em;
  font-family: "Telefon Normal", "Telefon Normal", sans-serif;
  font-size: 1em;
  text-decoration: none;
  cursor: pointer;
}

.menu-items:after {
  content: "";
  position: absolute;
  right: 0;
  width: 0;
  bottom: 0.5em;
  background: var(--white);
  height: 2px;
  transition: width 0.6s ease-in-out;
}

.menu-items:hover:after,
.menu-items:focus:after,
.menu-items:active:after {
  left: 0;
  right: auto;
  width: 100%;
}

.item-1:after {
  background: #5999b6;
}

.item-1:hover {
  color: #5999b6;
}

.item-2:after {
  background: #5982b6;
}

.item-2:hover {
  color: #5982b6;
}

.item-3:after {
  background: #596bb6;
}

.item-3:hover {
  color: #596bb6;
}

.item-4:after {
  background: #5e59b6;
}

.item-4:hover {
  color: #5e59b6;
}

.item-5:after {
  background: #7559b6;
}

.item-5:hover {
  color: #7559b6;
}

.item-6:after {
  background: #8c59b6;
}

.item-6:hover {
  color: #8c59b6;
}

.navbar-social-media {
  grid-column: col 3 / span 1;
  display: block;
  align-items: center;
  color: var(--grey);
}

.social-menu {
  display: block;
  padding-top: 0em;
  padding-bottom: 0em;
  margin-left: 2em;
  margin-right: 2em;
  font-size: 0.7em;
  text-decoration: none;
  cursor: pointer;
}

.social-icon-link {
  text-decoration: none;
}

.social-icon {
  text-align: center;
  padding: 0;
  padding-right: 0.5em;
  width: 1.8em;
  height: 2.2em;
  fill: var(--grey);
  margin-bottom: 1.7em;
}

.social-icon:hover {
  fill: var(--white);
}

.twitter:hover {
  fill: #5999b6;
}

.linkedin:hover {
  fill: #5982b6;
}

.facebook:hover {
  fill: #596bb6;
}

.px500:hover {
  fill: #5e59b6;
}

.instagram:hover {
  fill: #7559b6;
}

label.twitter-circle:hover {
  position: relative;
  display: inline-block;
  height: 2.5em;
  width: 2.5em;
  border: 2px solid rgba(255,255,255,0);
  border-radius: 50%;
  border-bottom-color: #5999b6;
  animation: rotate 1.8s ease-in-out;
}

@keyframes rotate {
  20%{
    border-bottom-color: #5982b6;
  }
  35%{
    border-bottom-color: #7559b6;
  }
  50%{
    border-bottom-color: #8c59b6;
  }
  65%{
    border-bottom-color: #7559b6;
  }
  80%{
    border-bottom-color: #5982b6;
  }
  100%{
    border-bottom-color: #5999b6;
    transform: rotate(720deg);
  }
}

label.linkedin-circle:hover {
  position: relative;
  display: inline-block;
  height: 2.5em;
  width: 2.5em;
  border: 2px solid rgba(255,255,255,0);
  border-radius: 50%;
  border-bottom-color: #5982b6;
  animation: rotate 1.8s ease-in-out;
}

@keyframes rotate {
  20%{
    border-bottom-color: #596bb6;
  }
  35%{
    border-bottom-color: #7559b6;
  }
  50%{
    border-bottom-color: #8c59b6;
  }
  65%{
    border-bottom-color: #7559b6;
  }
  80%{
    border-bottom-color: #596bb6;
  }
  100%{
    border-bottom-color: #5982b6;
    transform: rotate(720deg);
  }
}

label.facebook-circle:hover {
  position: relative;
  display: inline-block;
  height: 2.5em;
  width: 2.5em;
  border: 2px solid rgba(255,255,255,0);
  border-radius: 50%;
  border-bottom-color: #596bb6;
  animation: rotate 1.8s ease-in-out;
}

@keyframes rotate {
  20%{
    border-bottom-color: #5e59b6;
  }
  35%{
    border-bottom-color: #7559b6;
  }
  50%{
    border-bottom-color: #8c59b6;
  }
  65%{
    border-bottom-color: #7559b6;
  }
  80%{
    border-bottom-color: #5e59b6;
  }
  100%{
    border-bottom-color: #596bb6;
    transform: rotate(720deg);
  }
}

label.px500-circle:hover {
  position: relative;
  display: inline-block;
  height: 2.5em;
  width: 2.5em;
  border: 2px solid rgba(255,255,255,0);
  border-radius: 50%;
  border-bottom-color: #5e59b6;
  animation: rotate 1.8s ease-in-out;
}

@keyframes rotate {
  20%{
    border-bottom-color: #596bb6;
  }
  35%{
    border-bottom-color: #5982b6;
  }
  50%{
    border-bottom-color: #5999b6;
  }
  65%{
    border-bottom-color: #5982b6;
  }
  80%{
    border-bottom-color: #596bb6;
  }
  100%{
    border-bottom-color: #5e59b6;
    transform: rotate(720deg);
  }
}

label.instagram-circle:hover {
  position: relative;
  display: inline-block;
  height: 2.5em;
  width: 2.5em;
  border: 2px solid rgba(255,255,255,0);
  border-radius: 50%;
  border-bottom-color: #7559b6;
  animation: rotate 1.8s ease-in-out;
}

@keyframes rotate {
  20%{
    border-bottom-color: #5e59b6;
  }
  35%{
    border-bottom-color: #596bb6;
  }
  50%{
    border-bottom-color: #5982b6;
  }
  65%{
    border-bottom-color: #596bb6;
  }
  80%{
    border-bottom-color: #5e59b6;
  }
  100%{
    border-bottom-color: #7559b6;
    transform: rotate(720deg);
  }
}

.floating-footer {
  position: fixed;
  bottom: 20px;
  left: 20px;
}
.copyright {
  display: block;
  font-size: 0.8em;
}
}



/*Sidebar*/

.header {
  display: none;
}

@media only screen and (min-width: 890px) {
.header {
  display: flex;
  flex: auto;
  float: left;
  height: 100%;
  max-width: 230px;
  margin-right: 1%;
  background: var(--black);
  position: relative;
  overflow: none;
  padding: 4em 2.5em 0 2.5em;
  left: 0;
  top: 0;
}

.header-content {
  position: fixed;
}

.logo {
  color: var(--white);
  font-size: 1.8em;
  text-shadow: 0 0 15px var(--white);
}

.professional {
  color: var(--grey);
  text-shadow: none;
}

.desktop-menu {
  display: block;
  padding-top: 2.5em;
  padding-bottom: 2.5em;
}

.menu-items {
  display: block;
  position: relative;
  overflow: hidden;
  padding-top: 0;
  padding-bottom: 1em;
  margin-left: 0.7em;
  margin-right: 9em;
  font-family: "Telefon Normal", "Telefon Normal", sans-serif;
  font-size: 0.9em;
  text-decoration: none;
  cursor: pointer;
}

.menu-items:after {
  content: "";
  position: absolute;
  right: 0;
  width: 0;
  bottom: 0.5em;
  background: var(--white);
  height: 2px;
  transition: width 0.6s ease-in-out;
}

.menu-items:hover:after,
.menu-items:focus:after,
.menu-items:active:after {
  left: 0;
  right: auto;
  width: 100%;
}

.item-1:after {
  background: #5999b6;
}

.item-1:hover {
  color: #5999b6;
}

.item-2:after {
  background: #5982b6;
}

.item-2:hover {
  color: #5982b6;
}

.item-3:after {
  background: #596bb6;
}

.item-3:hover {
  color: #596bb6;
}

.item-4:after {
  background: #5e59b6;
}

.item-4:hover {
  color: #5e59b6;
}

.item-5:after {
  background: #7559b6;
}

.item-5:hover {
  color: #7559b6;
}

.item-6:after {
  background: #8c59b6;
}

.item-6:hover {
  color: #8c59b6;
}

.social-media {
  display: inline-block;
  align-items: center;
  padding-top: 1em;
  padding-bottom: 0em;
  color: var(--grey);
}

.social-icon-link {
  text-decoration: none;
}

.social-icon {
  text-align: center;
  padding: 0;
  padding-right: 0.5em;
  width: 1.8em;
  height: 2.2em;
  fill: var(--grey);
  margin-bottom: 2em;
}

.social-icon:hover {
  fill: var(--white);
}

.twitter:hover {
  fill: #5999b6;
}

.linkedin:hover {
  fill: #5982b6;
}

.facebook:hover {
  fill: #596bb6;
}

.px500:hover {
  fill: #5e59b6;
}

.instagram:hover {
  fill: #7559b6;
}


label.twitter-circle:hover {
  position: relative;
  display: inline-block;
  height: 2.5em;
  width: 2.5em;
  border: 2px solid rgba(255,255,255,0);
  border-radius: 50%;
  border-bottom-color: #5999b6;
  animation: rotate 1.8s ease-in-out;
}

@keyframes rotate {
  20%{
    border-bottom-color: #5982b6;
  }
  35%{
    border-bottom-color: #7559b6;
  }
  50%{
    border-bottom-color: #8c59b6;
  }
  65%{
    border-bottom-color: #7559b6;
  }
  80%{
    border-bottom-color: #5982b6;
  }
  100%{
    border-bottom-color: #5999b6;
    transform: rotate(720deg);
  }
}

label.linkedin-circle:hover {
  position: relative;
  display: inline-block;
  height: 2.5em;
  width: 2.5em;
  border: 2px solid rgba(255,255,255,0);
  border-radius: 50%;
  border-bottom-color: #5982b6;
  animation: rotate 1.8s ease-in-out;
}

@keyframes rotate {
  20%{
    border-bottom-color: #596bb6;
  }
  35%{
    border-bottom-color: #7559b6;
  }
  50%{
    border-bottom-color: #8c59b6;
  }
  65%{
    border-bottom-color: #7559b6;
  }
  80%{
    border-bottom-color: #596bb6;
  }
  100%{
    border-bottom-color: #5982b6;
    transform: rotate(720deg);
  }
}

label.facebook-circle:hover {
  position: relative;
  display: inline-block;
  height: 2.5em;
  width: 2.5em;
  border: 2px solid rgba(255,255,255,0);
  border-radius: 50%;
  border-bottom-color: #596bb6;
  animation: rotate 1.8s ease-in-out;
}

@keyframes rotate {
  20%{
    border-bottom-color: #5e59b6;
  }
  35%{
    border-bottom-color: #7559b6;
  }
  50%{
    border-bottom-color: #8c59b6;
  }
  65%{
    border-bottom-color: #7559b6;
  }
  80%{
    border-bottom-color: #5e59b6;
  }
  100%{
    border-bottom-color: #596bb6;
    transform: rotate(720deg);
  }
}

label.px500-circle:hover {
  position: relative;
  display: inline-block;
  height: 2.5em;
  width: 2.5em;
  border: 2px solid rgba(255,255,255,0);
  border-radius: 50%;
  border-bottom-color: #5e59b6;
  animation: rotate 1.8s ease-in-out;
}

@keyframes rotate {
  20%{
    border-bottom-color: #596bb6;
  }
  35%{
    border-bottom-color: #5982b6;
  }
  50%{
    border-bottom-color: #5999b6;
  }
  65%{
    border-bottom-color: #5982b6;
  }
  80%{
    border-bottom-color: #596bb6;
  }
  100%{
    border-bottom-color: #5e59b6;
    transform: rotate(720deg);
  }
}

label.instagram-circle:hover {
  position: relative;
  display: inline-block;
  height: 2.5em;
  width: 2.5em;
  border: 2px solid rgba(255,255,255,0);
  border-radius: 50%;
  border-bottom-color: #7559b6;
  animation: rotate 1.8s ease-in-out;
}

@keyframes rotate {
  20%{
    border-bottom-color: #5e59b6;
  }
  35%{
    border-bottom-color: #596bb6;
  }
  50%{
    border-bottom-color: #5982b6;
  }
  65%{
    border-bottom-color: #596bb6;
  }
  80%{
    border-bottom-color: #5e59b6;
  }
  100%{
    border-bottom-color: #7559b6;
    transform: rotate(720deg);
  }
}

.contact{
  display: inline-block;
  font-size: 0.8em;
  line-height: 1.3em;
}

.contact-email {
  display: block;
  position: relative;
  overflow: hidden;
  text-decoration: none;
  cursor: pointer;
}

.contact-email:after {
  content: "";
  position: absolute;
  right: 0;
  width: 0;
  bottom: 0;
  background: #5982b6;
  height: 1.4px;
  transition: width 0.7s ease-in-out;
}

.contact-email:hover:after,
.contact-email:focus:after,
.contact-email:active:after {
  left: 0;
  right: auto;
  width: 100%;
}

.contact-email:hover {
  color: #5982b6;
}

.copyright {
  display: block;
  font-size: 0.8em;
}

.floating-footer {
  display: none;
}
}

/*Gallery*/

.gallery-content {
  display: flex;
  padding: 8em 2em 0 15em;
  height: 100%;
  background: var(--black);
}
/*
.portfolio {
  display: grid;
  grid-template-columns: repeat(4x auto);
  flex-flow: row wrap;
}
*/
.portfolio {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-around;
  position: relative;
  transition: width 0.4s ease-in-out 0.05s;
}

.portfolio-grid {

}

.image-size {
  position: relative;
  max-width: 20em;
  max-height: 25em;
  padding: 0.5em 0.5em;
}
/*
.portfolio-grid:hover{
    --x: 100%;
  transition: 1.2s;
  background: linear-gradient(180deg, rgba(89,130,182,1) 0%, rgba(94,89,182,1) 35%, rgba(89,130,182,1) 100%) var(--x, 0)/ 200%;
  --x: 100%;
}
*/

/*Lightbox*/
