/*@supports (-webkit-backdrop-filter: none) or (backdrop-filter: none) {
    .header-blur-background {

        -webkit-backdrop-filter: blur(2px);
        backdrop-filter: blur(2px);

    }
    --grid-gutter: calc(var(--sqs-mobile-site-gutter, 6vw) - 11.0px);
    --cell-max-width: calc( ( var(--sqs-site-max-width, 1500px) - (11.0px * (8 - 1)) ) / 8 );
}
*/
:root {
  --accent: hsla(9.1, 100%, 40.2%, 1);
  --darkAccent: hsla(9, 80%, 30%, 1);
  --white: hsla(0, 0%, 100%, 1);
  --black: hsla(0, 0%, 0%, 1);
  --dropShadow: hsla(0, 0%, 0%, 0.15);
  
}

* {
  font-family: "work-sans", sans-serif;
  font-weight: 400;
  font-style: normal;
  line-height: 1.6em;
  margin: 0;
  padding: 0;
}

p {
  font-size: 0.9em;
}

h1, h2, h3, h4, h5, h6 {
  font-weight: 600;
}

li {
  text-decoration: none;
  list-style-type: none;
}

a {
  text-decoration: none;
  color: var(--accent);
}

a:hover {
  color: var(--black);
  transition: 0.1s ease-out;
  border-bottom: 2px solid var(--black);
  /* transition: border_anim 0.2s ease-in-out forwards;  */
}

@keyframes border_anim {
0%{
  width: 0%;
}
100%{
  width: 100%;
}
}

hr.divider-arch {
  border-top: 8px solid var(--accent);
  border-radius: 5px;
}

/*Background images or videos*/

.header {
  overflow: hidden;
}

.background-video {
  position: absolute;
top: 0;
left: 0;
width: 100%;
height: 100%;
object-fit: cover;
z-index: -2;
overflow: hidden;
display: block;
}

/* @media (min-aspect-ratio: 16/9){
  .background-video  {
      width: 100%;
      height: auto;
  }
}

@media (max-aspect-ratio: 16/9){
  .background-video  {
      width: auto;
      height: 100%;
  }
} */

.background-image-contact {
  background-image: url("media/contact-bg.jpg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}




/* Header phone*/

nav {
  height: 100%;
  box-shadow: 0px 80px 10px var(--dropShadow) inset;
}

.header-mobile{
  display: grid;
  grid-template-columns: 1fr 2fr 1fr;
  align-content: center;
  justify-content: center;
  align-items: center;
  justify-items: center;
  padding-top: 1em;
}

.logo {
  fill: var(--white);
  width: 160px;
  height:50px;
}

.navbar-logo > a:hover {
  color: var(--accent);
  transition: 0.1s ease-out;
  border-bottom: 0px solid var(--black); 
}

.logo-mobile {
  display: block;
  padding: 5px 0 25px;
}

.burger{
  display: block;
}

#burger-id {
  display: flex;
  width: 2.5em;
  height: 3em;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  -o-transform: rotate(0deg);
  transform: rotate(0deg);
  -webkit-transition: .5s ease-in-out;
  -moz-transition: .5s ease-in-out;
  -o-transition: .5s ease-in-out;
  transition: .5s ease-in-out;
  cursor: pointer;
}

#burger-id span {
  display: block;
  position: absolute;
  height: 5px;
  width: 100%;
  background: var(--white);
  border-radius: 10px;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  -o-transform: rotate(0deg);
  transform: rotate(0deg);
  -webkit-transition: .2s ease-in-out;
  -moz-transition: .2s ease-in-out;
  -o-transition: .2s ease-in-out;
  transition: .2s ease-in-out;
}

#burger-id span:nth-child(1) {
  top: 0px;
}

#burger-id span:nth-child(2),#burger-id span:nth-child(3) {
  top: 15px;
}

#burger-id span:nth-child(4) {
  top: 30px;
}

#burger-id.open span:nth-child(1) {
  top: 15px;
  width: 0%;
}

#burger-id.open span:nth-child(2) {
  -webkit-transform: rotate(45deg);
  -moz-transform: rotate(45deg);
  -o-transform: rotate(45deg);
  transform: rotate(45deg);
}

#burger-id.open span:nth-child(3) {
  -webkit-transform: rotate(-45deg);
  -moz-transform: rotate(-45deg);
  -o-transform: rotate(-45deg);
  transform: rotate(-45deg);
}

#burger-id.open span:nth-child(4) {
  top: 15px;
  width: 0%;
}


.mobile-navbar{
  grid-column: 1 / 4;
  text-align: center;
  max-height: 0;
  overflow: hidden;
  transition: max-height 0.5s ease-out;
  background-color: var(--white);
  width: 100vw;
}

.mobile-navbar-item {
  overflow: hidden;
  padding: 1.2em;
}

.navbar-logo {
  display: none;
}

.desktop-navbar {
  display: none;
}

.desktop-navbar-item {
  display: none;
}

.navbar-social {
  display: none;
}

.social-item {
  display: none;
}

@media only screen and (min-width: 760px) {

  .header-mobile {
      display: none;
  }

  .logo-mobile {
      display: none;
  }

  .header-desktop{
      display: flex;
      flex-flow: row nowrap;
      align-items: center;
  }

  .navbar-logo {
      display: flex;
      justify-content: flex-start;
      padding: 20px 2em;
  }

  .navbar-menu {
      text-align: right;
      margin-left: auto;
      padding-right: 2em;
  }
  
  .burger{
      display: none;
  }
  
  .mobile-navbar{
      display: none;
  }
  
  .mobile-navbar-item {
      display: none;
  }

  .desktop-navbar {
      display: flex;
      justify-content: flex-end;
  }
  
  .desktop-navbar-item {
      display: block;
      padding: 1.2em;
  }

  .desktop-navbar-item > a, .navbar-social > a {
      text-decoration: none;
      color: var(--white);
  }
  
  .desktop-navbar-item > a:hover, .navbar-social > li > a:hover {
      color: var(--accent);
      fill: var(--accent);
      border-bottom: 2px solid var(--accent);
      transition: border_anim 0.6s ease-in-out forwards;
  }
  
  .navbar-social {
      display: flex;
      justify-content: flex-end;
      padding-right: 3vw;
  }
  
  .social-item {
      display: block;
      padding-top: 7px;
      padding-right: 1.5em;
      fill: var(--white);
      color: var(--white);
  }
  
  .social-item:hover {
      fill: var(--accent);
      color: var(--accent);
  }

  .social-icon-header {
      fill: var(--white);
      color: var(--white);
  }

  .social-icon-header:hover {
      fill: var(--accent);
      color: var(--accent);
  } 

}


/*Footer*/

.footer {
  background-color: var(--white);
  display: grid;
  grid-template-columns: 1fr / 1fr / 1fr;
}

.footer-social {
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  align-items: center;
  padding-top: 1em;
}

.footer-item {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-around;
  align-items: stretch;
  padding: 0em;
}

.copyright {
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  align-items: center;
  padding-bottom: 1em;
}

.footer-social-text {
  font-size: 0.9em;
  padding-right: 1em;
}

.footer-social-icons {
  color: var(--black);
  padding-right: 1em;
}

.social-icon {
  color: var(--black);
}

.social-icon:hover {
  color: var(--accent);
  fill: var(--accent);
  border-bottom: none;
}

.footer-info {
  padding: 1em 2em;
  text-align: center;
}


.footer-info-item {
  padding:0.1em;
}

.footer-links {
  padding: 0.1em;
}

.copyright-text {
  font-size: 0.9em;
}

.scrollup {
  position: relative;
  justify-content: center;
  max-height: 2.5em;
  max-width: 2.5em;
  margin: 1em;
  background: var(--accent);
  border-color: var(--accent);
  border-radius: 50%;
  fill: var(--white);
  /* viewBox:-2.5 -2.5 22 22; */
}

.scrollup:hover {
  cursor: pointer;
  fill: var(--accent);
  background: var(--white);
  border-color: var(--accent);
}

@media only screen and (min-width: 600px) {

  .footer-social {
      justify-content: flex-end;
      align-items: stretch;
      margin-right: 5em;
  }
  
  .footer-item {
      flex-flow: row wrap;
  }

  .copyright {
      display: flex;
      flex-flow: row wrap;
      justify-content: center;
      align-items: center;
      padding-bottom: 1em;
  }

  .footer-info {
      padding: 1.5em;
      text-align: left;
  }
}
 

/* Index */
.home-section-1 {
  display: flex;
  flex-flow: column nowrap;
  align-items: center;
  height: 90vh;
  
}

.text-container-home {
  display: flex;
  flex-flow: column nowrap;
  align-items: center;
  text-align: center;
  padding: 10vh 5vw 10vh;
}

.tagline {
  font-size: 4em;
  color: var(--white);
  text-shadow: 5px 5px 10px var(--black);
  padding-bottom: 10vh;
}

.sub-tagline {
  color: var(--white);
  text-shadow: 5px 5px 10px var(--black);
  font-size: 1.5em;
}

.home-buttons {
  display: flex;
  flex-flow: row nowrap;
  gap: 2vw;
}

.home-buttons > a, .home-buttons >a:hover {
  border-bottom: 0px;
}

.home-section-2 {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  padding-top: 5vh;
  position: relative;
}

.title-home {
  font-size: 2.5em;
  padding: 0 5vw;
  text-align: center;
  line-height: 1.2em;
}

.service-container-home {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  flex-basis: 50%;
  text-align: center;
  gap: 4vh;
  padding-bottom: 150px;
}

.service-home {
  width: 90vw;
  padding: 1em 5vw;
}

.service-title-home {
  padding: 1em;
}

.service-text-home {
  text-align: center;
}

@media screen and (min-width: 760px) {

  .text-container-home {
      padding: 30vh 20vw 10vh;
  }

  .service-container-home {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 2em;
  }
  
  .service-home {
  flex-basis: calc(50% - 2em);
  padding: 1em;
  box-sizing: border-box;
  }
  
}

.editorial {
display: block;
width: 100%;
height: 120px;
max-height: 120px;
margin: 0;
z-index:5;
bottom:0;
position: absolute;
left:0px;
float:left;
}

/* .parallax1 > use {
animation: move-forever1 10s linear infinite;
&:nth-child(1) {
  animation-delay: -2s;
}
}
.parallax2 > use {
animation: move-forever2 8s linear infinite;
&:nth-child(1) {
  animation-delay: -2s;
}
} */
.parallax3 > use {
animation: move-forever3 6s linear infinite;
&:nth-child(1) {
  animation-delay: -2s;
}
}
.parallax4 > use {
animation: move-forever4 4s linear infinite;
&:nth-child(1) {
  animation-delay: -2s;
}
}
/* @keyframes move-forever1 {
0% {
  transform: translate(85px, 0%);
}
100% {
  transform: translate(-90px, 0%);
}
}
@keyframes move-forever2 {
0% {
  transform: translate(-90px, 0%);
}
100% {
  transform: translate(85px, 0%);
}
} */
@keyframes move-forever3 {
0% {
  transform: translate(85px, 0%);
}
100% {
  transform: translate(-90px, 0%);
}
}
@keyframes move-forever4 {
0% {
  transform: translate(-90px, 0%);
}
100% {
  transform: translate(85px, 0%);
}
}

/* .gentle-wave-1 {
  fill: var(--darkAccent);
}
.gentle-wave-2 {
  fill: var(--accent);
} */
.gentle-wave-3 {
  fill: var(--darkAccent);
}
.gentle-wave-4 {
  fill: var(--accent);
}

/* .home-section-3 {

} */

.mission-home {
  display: flex;
  flex-flow: column nowrap;
  align-items: center;
  padding: 0;
  background-color: var(--accent);
}

.mission-container-home {
  max-width: 100vw;
  color: var(--white);
  background-color: var(--accent);
  padding: 5vh 5vw;
}

.mission-title-home {
  font-size: 2.5em;
}

.mission-text-home {
  padding: 4vh 0;
  font-size: 1em;
}

.button-inverted {
  cursor: pointer;
  color: var(--accent);
  font-size: 1em;
  font-weight: 400;
  text-transform: uppercase;
  background: linear-gradient(to bottom, var(--white) 50%, var(--accent) 50%);
  background-size: 100% 200%;
  transition: background-position 0.4s;
  width: 11em;
  height: 4em;
  padding: auto;
  border-radius: 15px;
  border: 3px solid var(--white);
}

.button-inverted:hover {
  color: var(--white);
  font-weight: 600;
  background-position: 0 100%;
  border-radius: 15px;
} 

.mission-image-home {
  background-image: url("media/mission-image-home.jpg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  width: 100%;
  height: 200px;
}

@media only screen and (min-width: 760px) {

  .mission-home {
      display: flex;
      flex-flow: row nowrap;
      align-items: stretch;
      padding: 0;
  }

  .mission-container-home {
      max-width: 40vw;
  }

  .mission-title-home {
      font-size: 2.5em;
  }

  /* .mission-text-home {
  } */

  .mission-image-home {
      background-image: url("media/mission-image-home.jpg");
      background-size: cover;
      background-position: center;
      background-repeat: no-repeat;
      width: 100%;
      height: 20rem;
      margin: auto;
  }
}

.home-section-4 {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  padding-bottom: 2em;
}

.video-title-home {
  font-size: 3.5em;
  padding: 1em 4vw;
  text-align: center;
  line-height: 1.2em;
}

.video-container-home {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  flex-basis: 50%;
  text-align: center;
  gap: 4vh;
}

.video-home {
  width: 90vw;
  padding: 0 5vw;
}


@media screen and (min-width: 760px) {
    
  .video-container-home {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 2em;
  }
  
  .video-home {
    flex-basis: calc(50% - 2em);
    padding: 1em;
    box-sizing: border-box;
    
  }
}


.contact-image-home {
  background-image: url("media/contact-us.jpg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  width: 100%;
  height: 200px;
  order: -1; 
}

@media only screen and (min-width: 760px) {

  .contact-image-home {
      background-image: url("media/contact-us.jpg");
      background-size: cover;
      background-position: center;
      background-repeat: no-repeat;
      width: 100%;
      height: 100vh;
      order: 1;
  }
}


/* Contact */ 

.contact-section-1 {
  padding: 6em 3.5vw;
}

.links {
  word-wrap: break-word;
}

@media only screen and (max-width: 1000px) {
  .contact-flex {
      flex-flow: row wrap;
  }
}

.contact-flex {
  display: flex;
  flex-flow: row no-wrap;
  background-color: var(--white);
  padding: 0.5em;
  border-radius: 30px;
  overflow: hidden;
  word-wrap: normal;
}

.contact-flex-item {
  margin: 1em;
}

.contact-text {
  transition-timing-function: cubic-bezier(0.19, 1, 0.22, 1);
  transition-duration: 0.65s;
}

.contact-section-2 {
  background-color: var(--white);
  display: flex;
  flex-flow: column nowrap;
  align-items: center;
  justify-content: space-between;
}

.contact-form {
  padding: 6vw 6vw 0 6vw;
  max-width: 88vw;
}

.contact-me{
  font-size: 2.5em;
  padding: 0 0 0.8em 0;
}

.form-tag {
  font-size: 1em;
  padding: 0.8em 0.2em;
}

.form-name-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;

}

.form-name-container > div {
  flex-basis: calc(50% - 1em);
}

.field {
  background-color: #fafafa;
  border: 1px solid #a9a9a9;
  box-sizing: border-box;
  color: var(--black);
  height: 46px;
  padding: 10px;
  position: relative;
  width: 100%;
}

.field:focus {
  outline-offset: 0;
  outline-color: var(--black);
  outline-width: 2px;
  outline-style: solid;
}

.name-field {
  width: 100%;
}

.message-field {
  background-color: #fafafa;
  border: 1px solid #a9a9a9;
  box-sizing: border-box;
  color: var(--black);
  min-height: 100px;
  padding: 10px;
  position: relative;
  resize: vertical;
  max-width: 100%;
}

.message-field:focus {
  outline-offset: 0;
  outline-color: var(--black);
  outline-width: 2px;
  outline-style: solid;
}


.submit-button-position {
  padding: 1em 0 2em 0.25em;
  width: 100%;
}

.button {
  cursor: pointer;
  color: var(--white);
  font-size: 1em;
  font-weight: 400;
  text-transform: uppercase;
  background: linear-gradient(to bottom, var(--accent) 50%, var(--white) 50%);
  background-size: 100% 200%;
  transition: background-position 0.4s;
  width: 11em;
  height: 4em;
  padding: auto;
  border-radius: 15px;
  border: 3px solid var(--accent);
}

.button:hover {
  color: var(--accent);
  font-weight: 600;
  background-position: 0 100%;
  border-radius: 15px;
} 

.contact-image {
  background-image: url("media/contact-us.jpg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  width: 100%;
  height: 200px;
  order: -1; 
}

@media only screen and (min-width: 760px) {

  .contact-section-1 {
      padding: 6em 7vw;
  }

  .contact-flex {
      display: flex;
      flex-flow: row no-wrap;
      background-color: var(--white);
      padding: 2em;
      border-radius: 30px;
      overflow: hidden;
      word-wrap: normal;
  }

  .contact-section-2 {
      background-color: var(--white);
      display: flex;
      flex-flow: row nowrap;
      align-items: center;
      justify-content: space-between;
  }
  
  .contact-form {
      padding: 6vw 6vw 0 6vw;
      max-width: 42vw;
  }
  
  .contact-me{
      font-size: 2.5em;
      padding: 0 0 1em 0;
  }
  
  .form-tag {
      font-size: 1em;
      padding: 0.8em 0.2em;
  }
  
  .field {
      background-color: #fafafa;
      border: 1px solid #a9a9a9;
      box-sizing: border-box;
      color: var(--black);
      height: 46px;
      padding: 10px;
      position: relative;
      width: 100%;
  }
  
  .field:focus {
      outline-offset: 0;
      outline-color: var(--black);
      outline-width: 2px;
      outline-style: solid;
  }
  
  .message-field {
      background-color: #fafafa;
      border: 1px solid #a9a9a9;
      box-sizing: border-box;
      color: var(--black);
      min-height: 100px;
      padding: 10px;
      position: relative;
      resize: vertical;
      max-width: 100%;

  }
  
  .message-field:focus {
      outline-offset: 0;
      outline-color: var(--black);
      outline-width: 2px;
      outline-style: solid;
  }
  
  
  .submit-button-position {
      padding: 1em 0 2em 0.25em;
      width: 100%;
  }

  .contact-image {
      background-image: url("media/contact-us.jpg");
      background-size: cover;
      background-position: center;
      background-repeat: no-repeat;
      width: 100%;
      height: 100vh;
      order: 1;
  }

}


/* About */

/* .about-section-1 {

} */

.about-flex {
  display: flex;
  flex-flow: column nowrap;
  align-items: center;
  padding: 0;
}

.about-flex-item {
  max-width: 100vw;
}

.about-title {
  font-size: 2.5em;
  padding: 7vh 5vw 0 5vw;
}

.about-text {
  padding: 4vh 5vw 0 5vw;
}

.about-image {
  background-image: url("media/about-us.jpg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  width: 100%;
  height: 200px;
  order: -1; 
}

@media only screen and (min-width: 760px) {

  .about-flex-item {
      max-width: 50vw;
  }

  .about-title {
      font-size: 2.5em;
      padding: 7vh 0 0 4vw;
  }

  .about-text {
      padding: 4vh 5vw 0 4vw;
  }

  .about-flex {
      display: flex;
      flex-flow: row nowrap;
      align-items: stretch;
      padding: 0;
  }

  .about-image {
      background-image: url("media/about-us.jpg");
      background-size: cover;
      background-position: center;
      background-repeat: no-repeat;
      width: 100%;
      height: 100vh;
      order: 1;
  }
}

.about-section-2 {
  display: block;
  padding: 2em 5vw;
}

.about-us-title {
  display: block;
  font-size: 2.5em;
  padding-bottom: 4vh;

}

.about-team-container {
  display: flex;
  flex-flow: column nowrap;
  justify-content: space-between;
}

.about-team {
  max-width: 100vw;
}

.about-us-image-container {
  max-width: 100%;
  height: auto;
}

.about-us-image {
  max-width: 100%;
  height: auto;
}

.title-name {
  font-size: 1.2em;
  font-weight: bold;
}

.title-position {
  padding-bottom: 1.5em;
}

.about-us-text {
  font-size: 0.95em;
  padding-bottom: 2vh;
}

.about-section-3 {
  display: none;
}

.portfolio-link {
  font-size: 1.1em;
  font-weight: bold;
  margin-bottom: 2em;
  border-bottom: 2px solid var(--accent);
}

.portfolio-link > a:hover {
  color: var(--black);
  transition: 0.3s ease-out;
  border-bottom: none;
}

.mobile {
  display: block;
}


@media only screen and (min-width: 760px) {

  .mobile {
      display: none;
  }

  .about-team-container {
      display: flex;
      flex-flow: row wrap;
      justify-content: space-between;
  }
  
  .about-team {
      max-width: 45%;
  }

  .about-us-text {
      padding-bottom: 0;
  }

  .about-section-3 {
      display: block;
      padding: 1em 5vw;
  }
  
  .previous-exp {
      display: flex;
      flex-flow: row wrap;
      justify-content: space-between;
  }
  
  .portfolio {
      max-width: 45%;
  }
  
  .iframe-container {
     width: 40vw;
     height: 90vw;
  }
}




/* Services */
/* .services-section-1 {

}

.services-section-2 {
} */


.service-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  flex-basis: 50%;
  text-align: left;
  gap: 4vh;
  padding-bottom: 150px;
}

.service {
  width: 90vw;
  padding: 1em 5vw;
}

.service-section-title {
  padding: 1em;
}

.service-title {
  padding: 0;
}

.service-text {
  padding: 1em 0; 
}

.service-media-container {
  max-width: 100vw;
}

.service-image-size {
  max-width: 100%;
  height: auto;
  }

@media screen and (min-width: 760px) {

  .service-container {
  display: flex;
  flex-wrap: wrap;
  gap: 1em;
  }
  
  .service {
  flex-basis: calc(50% - 2em);
  padding: 1em;
  box-sizing: border-box;
  }

  .service-section-title {
      padding: 1em 2em;
  }

  .service-title {
      padding: 1em;
  }

  .service-text {
      padding: 1em;
  }

  .service-media-container {
  max-width: 100vw;
  padding: 1em;
  }

  .service-image-size {
  max-width: 100%;
  height: auto;
  }
  
}
