<<!DOCTYPE html>
  <html lang="en" dir="ltr">

  <head>
    <meta charset="utf-8">
    <title></title>
    <style media="screen">
      .image_off,
      #home:hover .image_on {
        display: none
      }

      .image_on,
      #home:hover .image_off {
        display: block
      }






      .image_off2,
      #{{ wrapper_id }}:hover .image_on1 {
        display: none
      }

      .image_on1,
      #{{ wrapper_id }}:hover .image_off2 {
        display: block
      }

    </style>
  </head>

  <body>

    <a id="home">
      <img class="image_on" src="https://cdn.shopify.com/s/files/1/0432/9996/3040/files/empathy-men-sweatshirt.jpg?v=1608390289" alt="logo" />
      <img class="image_off" src="https://cdn.shopify.com/s/files/1/0432/9996/3040/files/melting-blue-banana-logo-women-sweatshirt.jpg?v=1608389392" alt="logo" />
    </a>




    <div id="{{ wrapper_id }}" class="grid-view-item__image-wrapper product-card__image-wrapper js">
      <div style="padding-top:{% unless preview_image == blank %}{{ 1 | divided_by: preview_image.aspect_ratio | times: 100 }}%{% else %}100%{% endunless %};">
        <img id="{{ img_id }}" class="image_on1 grid-view-item__image lazyload" alt="{{ preview_image.alt }}" data-src="{{ img_url }}" data-widths="[180, 360, 540, 720, 900, 1080, 1296, 1512, 1728, 2048]" data-aspectratio="{{ preview_image.aspect_ratio }}"
          data-sizes="auto" data-image>
        <img id="{{ img_id }}" class="image_off2 grid-view-item__image lazyload" alt="{{ preview_image.alt }}" data-src="{{ img_url }}" data-widths="[180, 360, 540, 720, 900, 1080, 1296, 1512, 1728, 2048]" data-aspectratio="{{ preview_image.aspect_ratio }}"
          data-sizes="auto" data-image>
      </div>
    </div>

    <!--


      {% capture img_id %}ProductCardImage-{{ section.id }}-{{ product.id }}{% endcapture %}
      {% capture wrapper_id %}ProductCardImageWrapper-{{ section.id }}-{{ product.id }}{% endcapture %}
      {%- assign preview_image = product.featured_media.preview_image -%}
      {%- assign img_url = preview_image | img_url: '2048x2048' | replace: '_1x1.', '_{width}x.' -%}

      {% unless preview_image == blank %}
        {% include 'image-style', image: preview_image, height: max_height, wrapper_id: wrapper_id, img_id: img_id %}
      {% endunless %}

      <div class="product-card__image-with-placeholder-wrapper" data-image-with-placeholder-wrapper>
        <div id="{{ wrapper_id }}" class="grid-view-item__image-wrapper product-card__image-wrapper js">
          <div style="padding-top:{% unless preview_image == blank %}{{ 1 | divided_by: preview_image.aspect_ratio | times: 100 }}%{% else %}100%{% endunless %};">
            <img id="{{ img_id }}"
                  class="grid-view-item__image lazyload"
                  alt="{{ preview_image.alt }}"
                  data-src="{{ img_url }}"
                  data-widths="[180, 360, 540, 720, 900, 1080, 1296, 1512, 1728, 2048]"
                  data-aspectratio="{{ preview_image.aspect_ratio }}"
                  data-sizes="auto"
                  data-image>
          </div>
        </div>
        <div class="placeholder-background placeholder-background--animation" data-image-placeholder></div>
      </div>

      <noscript>
        {% capture image_size %}{{ max_height }}x{{ max_height }}{% endcapture %}
        <img class="grid-view-item__image" src="{{ preview_image | img_url: image_size, scale: 2 }}" alt="{{ preview_image.alt }}" style="max-width: {{ max_height | times: preview_image.aspect_ratio }}px;">
      </noscript>

      <div class="h4 grid-view-item__title product-card__title" aria-hidden="true">{{ product.title }}</div>

      {% include 'product-price-listing', product: product, show_vendor: show_vendor %}

    </div>









    <!--





      {% capture img_id %}ProductCardImage-{{ section.id }}-{{ product.id }}{% endcapture %}
      {% capture wrapper_id %}ProductCardImageWrapper-{{ section.id }}-{{ product.id }}{% endcapture %}
      {%- assign preview_image = product.featured_media.preview_image -%}
      {%- assign img_url = preview_image | img_url: '2048x2048' | replace: '_1x1.', '_{width}x.' -%}

      {% unless preview_image == blank %}
        {% include 'image-style', image: preview_image, height: max_height, wrapper_id: wrapper_id, img_id: img_id %}
      {% endunless %}



    {% unless grid_image_width %}
      {%- assign grid_image_width = '2048x2048' -%}
    {% endunless %}

    <div class="grid-view-item{% unless product.available %} product-price--sold-out grid-view-item--sold-out{% endunless %}">
      <div class="fixedsizeforcollectionbox">
      <a class="grid-view-item__link {% if product.images.size > 1 %} has-secondary{% endif %}" href="{{ product.url | within: collection }}">
        <img class="grid-view-item__image" style="img { max-width: 100%; height:  }"  src="{{ product.featured_image.src | img_url: grid_image_width }}" alt="{{ product.featured_image.alt }}">
        {% if product.images.size > 1 %}
         <img class="secondary" style="img { max-width: 100%; height:  }" src="{{ product.images[1] | img_url: grid_image_width }}" alt="{{ product.images[1].alt | escape }}">
        {% endif %}
        <div class="h4 grid-view-item__title">{{ product.title }}</div>
        {% if section.settings.show_vendor %}
          <div class="grid-view-item__vendor">{{ product.vendor }}</div>
        {% endif %}
        <div class="grid-view-item__meta">
          {% include 'product-price' %}
        </div>
      </a>
    </div>
    </div>







    1.
    /* ===============================================
    // Reveal module
    // =============================================== */
    .has-secondary.grid-view-item__link img.secondary{
     display:none;
    }

    .has-secondary.grid-view-item__link:hover img.secondary{
     display:block;
    }

    .has-secondary.grid-view-item__link:hover img.grid-view-item__image{
     display:none;
    }

    @media screen and (min-width:767px){
    .has-secondary.grid-view-item__link img.secondary{
     display:none;
    }

    .has-secondary.grid-view-item__link:hover img.secondary{
     display:block;
    }

    .has-secondary.grid-view-item__link:hover img.grid-view-item__image{
     display:none;
    }
    }

    @media screen and (max-width:767px){
    .has-secondary.grid-view-item__link img.secondary{
     display:none;
    }
    }

    2.
    {% unless grid_image_width %}
      {%- assign grid_image_width = '600x600' -%}
    {% endunless %}
    <div class="grid-view-item{% unless product.available %} product-price--sold-out grid-view-item--sold-out{% endunless %}">
      <a class="grid-view-item__link {% if product.images.size > 1 %} has-secondary{% endif %}" href="{{ product.url | within: collection }}">
        <img class="grid-view-item__image" src="{{ product.featured_image.src | img_url: grid_image_width }}" alt="{{ product.featured_image.alt }}">
        {% if product.images.size > 1 %}
         <img class="secondary" src="{{ product.images.last | img_url: grid_image_width }}" alt="{{ product.images.last.alt | escape }}">
        {% endif %}
        <div class="h4 grid-view-item__title">{{ product.title }}</div>
        {% if section.settings.show_vendor %}
          <div class="grid-view-item__vendor">{{ product.vendor }}</div>
        {% endif %}
        <div class="grid-view-item__meta">
          {% include 'product-price', variant: product %}
        </div>
      </a>
    </div>



    -->



    <!--


    {% comment %}
        Renders a product card using "Grid" style
        Accepts:
        - max_height: {Number} Maximum height of the product's image (required)
        - product: {Object} Product Liquid object (required)
        - show_vendor: {Boolean} Show the product's vendor depending on the section setting (optional)

        Usage:
        {% include 'product-card-grid', max_height: max_height, product: product, show_vendor: section.settings.show_vendor %}
    {% endcomment %}
    <div class="grid-view-item{% unless product.available %} grid-view-item--sold-out{% endunless %} product-card">
      <a class="grid-view-item__link grid-view-item__image-container full-width-link" href="{{ product.url | within: collection }}">
        <span class="visually-hidden">{{ product.title }}</span>
      </a>

      {% capture img_id %}ProductCardImage-{{ section.id }}-{{ product.id }}{% endcapture %}
      {% capture wrapper_id %}ProductCardImageWrapper-{{ section.id }}-{{ product.id }}{% endcapture %}
      {%- assign preview_image = product.featured_media.preview_image -%}
      {%- assign img_url = preview_image | img_url: '1920x1920' | replace: '_1x1.', '_{width}x.' -%}

      {% unless preview_image == blank %}
        {% include 'image-style', image: preview_image, height: max_height, wrapper_id: wrapper_id, img_id: img_id %}
      {% endunless %}

      <div class="product-card__image-with-placeholder-wrapper" data-image-with-placeholder-wrapper>
        <div id="{{ wrapper_id }}" class="grid-view-item__image-wrapper product-card__image-wrapper js">
          <div style="padding-top:{% unless preview_image == blank %}{{ 1 | divided_by: preview_image.aspect_ratio | times: 100 }}%{% else %}100%{% endunless %};">
            <img id="{{ img_id }}"
                  class="image_on1 grid-view-item__image lazyload"
                  alt="{{ preview_image.alt }}"
                  data-src="{{ img_url }}"
                  data-widths="[180, 360, 540, 720, 900, 1080, 1296, 1512, 1728, 2048]"
                  data-aspectratio="{{ preview_image.aspect_ratio }}"
                  data-sizes="auto"
                  data-image>
          </div>
        </div>
        <div class="placeholder-background placeholder-background--animation" data-image-placeholder></div>
      </div>

      <noscript>
        {% capture image_size %}{{ max_height }}x{{ max_height }}{% endcapture %}
        <img class="grid-view-item__image" src="{{ preview_image | img_url: image_size, scale: 2 }}" alt="{{ preview_image.alt }}" style="max-width: {{ max_height | times: preview_image.aspect_ratio }}px;">
      </noscript>

      <div class="h4 grid-view-item__title product-card__title" aria-hidden="true">{{ product.title }}</div>

      {% include 'product-price-listing', product: product, show_vendor: show_vendor %}

    </div>


    <a class="grid-view-item__link grid-view-item__image-container full-width-link" href="{{ product.url | within: collection }}">
        <span class="visually-hidden">{{ product.title }}</span>
      </a>

    -->


    







  </body>

  </html>
