body {
  font-family: sans-serif;
  font-weight: 300;
  height: 100vh;
  width: 100vw;
  display: grid;
  grid-template-rows: 1fr 20fr 1fr;
  margin: 0px;
}

header{
  background-color: rgb(55, 71, 90);
  margin: 0px;
  padding: 1em 0px;
  width: 100vw;
  text-align: center;
  color: rgb(254, 189, 105);
}

main {
  background-color: white;
  width: 100vw;
}

footer {
  background-color: rgb(254, 189, 105);
  width: 100vw;
  text-align: center;
  padding: 3em 0px;

}

p, h4, h1 {
  margin: 0px;
}

li {
  list-style: none;
}

button {
  border-style: none;
  border: 3px solid transparent;
}

.main {
  display: grid;
  grid-template-columns: 2fr 20fr 2fr;
  grid-template-rows: 1fr auto 1fr;
}

.item-image {
  grid-row: 1;
  grid-column: 2;
}

.item-info {
  grid-row: 2;
  grid-column: 2;
}


@media (min-width: 680px) {
  .main {
    display: grid;
    grid-template-columns: 1fr 10fr 20fr 3fr;
    grid-template-rows: 1fr 20fr 1fr;
  }

  .item-image {
    grid-row: 2;
    grid-column: 2;
  }

  .item-info {
    grid-row: 2;
    grid-column: 3;
  }
}


.product-image {
  width: 100%;
}

.image-limits {
  position: relative;
  text-align: center;
  color: white;
}

.text-over-image {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  padding: 2em;
}

.item-info-grid {
  display: grid;
  grid-template-columns: 1fr;
  padding: 0px;
}

.title {
  grid-column: 1 / 11;
  grid-row: 1;
  padding: 0.5em 0px;
}

.description {
  grid-row: 2;
  padding: 0.5em 0px 1em;
}

.attribute1 {
  grid-row: 3;
  padding: 1em 0px 0.5em;
}

.colors {
  grid-row: 4;
  padding: 0.5em 0px 0px;
}

.btn-size  {
  display: flex;
  flex-flow: wrap;
}

.color-btn {
  margin-right: 1em;
  padding: 1em 1.75em;
  border-radius: 20px;
  margin-bottom: 1em;
}

.color-btn:hover, .color-btn:active {
  border-color: rgb(254, 158, 30)
}

.color1 {
  background-color: black;
}

.color2 {
  background-color: green;
}

.color3 {
  background-color: purple;
}

.color4 {
  background-color: red;
}

.color5 {
  background-color: lightpink;
}

.attribute2 {
  grid-row: 5;
  padding: 1em 0px 0.5em;
}

.features {
  grid-row: 6;
  padding: 0.5em 0px 0px;
}

.feature-btn {
  margin-right: 1em;
  padding: 0.6em 1.2em;
  border-radius: 20px;
  background-color: #dcdcdc;
  margin-bottom: 1em;
}

.feature1:hover, .feature2:hover, .feature3:hover, .feature1:active, .feature2:active, .feature3:active {
  background-color: #ababab;
  border-color: rgb(254, 158, 30);
}

.buy {
  grid-row: 7;
  padding: 1em 0px 0.5em;
}

.buyBtn {
  margin-right: 1em;
  padding: 1em 2em;
  border-radius: 20px;
  background-color: rgb(254, 189, 105);
}

.buyBtn:hover {
  background-color: rgb(254, 158, 30);
}



































/*end*/
