body {
  background-color: black;
  font-family: sans-serif;
  font-weight: 300;
}

li {
  list-style: none;
}

.calculator {
  max-width: 4fr;
  margin: 0;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.output {
  font-size: 150%;
  background-color: whitesmoke;
  padding: 0.5em 0.5em 0em 0.5em;
  grid-column: 1 / 5;
}

.inputsGrid {
  display: grid;
  grid-template-rows: 1fr 1fr 1fr 1fr 1fr;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  background-color: whitesmoke;
  padding: 5px;
}

.input {
  font-size: 100%;
  text-align: center;
  background-color: whitesmoke;
  border-radius: 50%;
  border-style: none;
  padding: 15px;
  margin: 3px;
}

.zero {
  display: grid;
  grid-column: 1 / 3;
  border-radius: 50px;
}

.input:hover {
  background-color: rgba(0, 255, 255, 0.1);
}
.input:active {
  background-color: rgba(0, 255, 255, 0.3);
}

.op:hover {
    background-color: rgba(245,	139,	127, 0.3)
}
.op:active {
    background-color: rgba(245,	139,	127, 0.6)
}
